extends layout

block content
  div#mario-chat
    div#chat-window
      div#output
      div#feedback
    input#handle(placeholder='Handle', type='text')
    input#message(placeholder='Message', type='text')
    button#send='Send'
