doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js')
    script(src='/javascripts/chat.js', defer=true)
  body
    block content
